<div class="container">
  <div class="row">
    <div class="col-6 col-md-8 col-sm-10 mx-auto">
      <mdb-card>
        <tbody id="bodyHeight">
          <div
            class="view view-cascade default-color-dark narrower py-1 justify-content-between align-items-center borderRadius"
            style="background: #006064 !important"
          >
            <div href="" class="white-text mx-3">Arbeitszeiten</div>
          </div>
          <h4 class="text-default text-center mt-5">
            <mdb-icon far icon="clock" class="mr-1"></mdb-icon>Zeiterfassung
          </h4>
          <div class="px-4">
            <div class="row">
              <div class="col-md-12">
                <form class="text-center" style="color: #757575">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="md-form form-group">
                        <mdb-date-picker
                          [inline]="true"
                          name="mydate"
                          [placeholder]="'Selected date'"
                          required
                        ></mdb-date-picker>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="md-form form-group">
                        <mdb-time-picker
                          [buttonLabel]="'Done'"
                          [twelvehour]="false"
                          [darktheme]="false"
                          [placeholder]="'Arbeitsbeginn'"
                          [label]="'Arbeitsbeginn'"
                          [showClock]="false"
                        >
                        </mdb-time-picker>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="md-form form-group">
                        <mdb-time-picker
                          [buttonLabel]="'Done'"
                          [twelvehour]="false"
                          [darktheme]="true"
                          [placeholder]="'Arbeitsende'"
                          [label]="'Arbeitsende'"
                          [showClock]="false"
                        >
                        </mdb-time-picker>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="px-4">
            <div class="row">
              <div class="col-lg-4">
                <br />
                <form class="text-center" style="color: #757575">
                  <div class="row">
                    <div class="col-md-10">
                      <div class="md-form form-group">
                        <input
                          mdbInput
                          mdbValidate
                          type="text"
                          class="form-control"
                          id="costDescHR"
                          minLength="2"
                        />
                        <label for="costDescHR">Pause</label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-lg-4">
                <br />
                <form class="text-center" style="color: #757575">
                  <!-- Extended material form grid -->
                  <div class="row">
                    <div class="col-md-10">
                      <div class="md-form form-group">
                        <input mdbInput type="text" class="form-control" id="tagHR" />
                        <label for="tagHR">Projekt</label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <div class="col-md-4">
                <br />
                <form class="text-center" style="color: #757575">
                  <!-- Extended material form grid -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="md-form form-group">
                        <input mdbInput type="text" class="form-control" id="tagHR" />
                        <label for="tagHR">Auftragsnummer</label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="px-4">
            <div class="row">
              <div class="col-lg-12">
                <br />
                <form class="text-center" style="color: #757575">
                  <!-- Extended material form grid -->
                  <!-- Grid row -->
                  <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-6">
                      <!-- Material input -->
                      <div class="md-form form-group">
                        <mdb-select placeholder="Projekt Nr."> </mdb-select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <!-- Material input -->
                      <div class="md-form form-group">
                        <input mdbInput type="text" class="form-control" id="inputDepartment" />
                        <label for="inputDepartment">Abteilung/Personalnummer</label>
                      </div>
                    </div>
                    <!-- Grid column -->
                  </div>
                  <!-- Grid row -->

                  <!-- Grid row -->
                </form>
              </div>
            </div>
          </div>
        </tbody>
        <div class="row mb-2 mr-2 text-right" style="bottom: 0">
          <div class="col-md-12">
            <button
              type="button"
              mdbBtn
              color="success"
              class="btn btn-rounded waves-effect styleBotBtn"
              mdbWavesEffect
              rounded="true"
            >
              <mdb-icon fas icon="check" class="mr-1"></mdb-icon>Save
            </button>
            <button
              type="button"
              mdbBtn
              class="btn btn-outline-danger btn-rounded waves-effect styleBotBtn"
              aria-label="Close"
              mdbWavesEffect
              rounded="true"
              [routerLink]="['/hr']"
            >
              <mdb-icon fas icon="times" class="mr-1"></mdb-icon>Close
            </button>
          </div>
        </div>
      </mdb-card>
    </div>
  </div>
</div>
